services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: sunfinance
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
  php:
    build: docker/php
    volumes:
      - ./app:/var/www/app
    container_name: php
    environment:
      - DATABASE_URL=pgsql://user:secret@db:5432/sunfinance
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    volumes:
      - ./app:/var/www/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - php
volumes:
  db-data:
