version: "3.9"

services:
  php:
    build: docker/php
    volumes:
      - ./app:/var/www/app
    container_name: php

  nginx:
    image: nginx:alpine
    volumes:
      - ./app:/var/www/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - php

